@model ElBasset.DTO.DTO.ResetPasswordDTO
<div style="padding-top:150px;text-align:right;" class="container">

<h1>اعادة تعيين  </h1>

<h4>كلمة المرور</h4>
<hr />
@if (ViewBag.Message != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Message
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group p-1">
                <label class="control-label">كلمة المرور</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group p-1">
                <label class="control-label">تاكيد كلمة المرور</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group p-1" hidden>
                <input asp-for="UserId" class="form-control" />
            </div>
            <div class="form-group p-1" hidden>
                <input asp-for="Token" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="حفظ " class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">العودة</a>
            </div>
        </form>
    </div>
</div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

