@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div style="padding-top:90px;text-align:right;" class="container">

<h1 class="text-danger">خطأ.</h1>
<h2 class="text-danger">لقد حدث حطأ مع هذا الحدث</h2>



<h3>يجب التواصل مع الدعم الفني </h3>
<div>
<p>
            للتواصل معا الدعم في حالة وجود اي مشكلة متعلقة بحسابك.
</p>
      <p>
            الوتساب
            <a href="https://api.whatsapp.com/send?phone=201157462787" target="_blank">افتح</a>
      </p>
      <p>
            فيسبوك

            <a href="https://www.facebook.com/darkstorm990" target="_blank">افتح</a>
      </p>
</div>
</div>